---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: false
  AfterStruct: true
  AfterEnum: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
PointerAlignment: Left
ReferenceAlignment: Left
AlignAfterOpenBracket: DontAlign
AlignOperands: false
SpaceBeforeParens: Always
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
Cpp11BracedListStyle: false
AccessModifierOffset: -4
IndentAccessModifiers: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SpacesInContainerLiterals: false
SpacesInSquareBrackets: false
SpacesInAngles: false
SpacesInParentheses: false
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma
AlignTrailingComments: false
SortIncludes: false
IncludeBlocks: Preserve